.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #ffa500;
  border: 1px solid #ffa500;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.form button:hover,
.form button:active {
  background-color: #b57b10;
  border-color: #b57b10;
  transform: scale(1.05);
}
