.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #ffa500;
  color: white;
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: #b57b10;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.badge {
  background-color: #b57b10;
  padding: 0.2rem 1rem;
  border-radius: 20px;
  margin-left: 1.5rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #7b530a;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

/* Медиа-запрос для адаптации к экранам меньше 350px */
@media (max-width: 350px) {
  .button {
    padding: 0.4rem 2rem; /* Уменьшаем отступы для кнопок */
    font-size: 0.9rem; /* Уменьшаем размер шрифта */
    border-radius: 20px; /* Уменьшаем радиус скругления */
  }

  .icon {
    width: 1.2rem; /* Уменьшаем размер значка */
    height: 1.2rem; /* Уменьшаем размер значка */
    margin-right: 0.5rem; /* Уменьшаем отступ справа */
  }

  .badge {
    padding: 0.2rem 0.5rem; /* Уменьшаем отступы для бейджа */
    font-size: 0.8rem; /* Уменьшаем размер шрифта для бейджа */
    margin-left: 1rem; /* Уменьшаем отступ слева */
  }
}
