.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 5rem;
  color: #65edc2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  z-index: 10;
  opacity: 0.8;
  background: linear-gradient(45deg, rgb(48, 49, 49), rgb(0, 0, 0) 80%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-image {
  width: 100%;
  height: 25rem;
  margin-top: 5rem;
  z-index: 0;
  overflow: hidden;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headerActions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.authButton {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #ffa500;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
  margin: 0.5rem;
  flex-shrink: 0;
}

.authButton:hover,
.authButton:active {
  background-color: #b57b10;
  transform: scale(1.05);
}

@media (max-width: 992px) {
  .authButton {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .authButton {
    padding: 0.4rem 1rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .authButton {
    padding: 0.3rem 1rem;
    font-size: 0.7rem;
    border-radius: 20px;
  }
}

@media (max-width: 350px) {
  .main-image {
    height: 20rem;
  }

  .icon {
    width: 40px;
    height: 40px;
  }
}
