.header {
  position: fixed; /* Фиксирует заголовок в верхней части страницы */
  top: 0; /* Устанавливает верхнюю границу заголовка */
  left: 0; /* Устанавливает левую границу заголовка */
  width: 100%; /* Задает ширину заголовка на всю ширину экрана */
  height: 5rem; /* Устанавливает высоту заголовка */
  color: #65edc2; /* Устанавливает цвет текста заголовка */
  display: flex; /* Использует Flexbox для расположения элементов внутри заголовка */
  justify-content: space-between; /* Размещает элементы по сторонам заголовка */
  align-items: center; /* Центрирует элементы по вертикали */
  padding: 0 10%; /* Добавляет горизонтальные отступы по 10% */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25); /* Добавляет тень для эффекта поднятости */
  z-index: 10; /* Устанавливает порядок наложения, чтобы заголовок был выше других элементов */
  opacity: 0.8; /* Устанавливает чуть прозрачный фон для заголовка */
  background: -webkit-linear-gradient(
    45deg,
    rgb(48, 49, 49),
    rgb(0, 0, 0) 80%
  ); /* Устанавливает градиентный фон */
}

.main-image {
  width: 100%; /* Задает ширину для основного изображения на всю ширину контейнера */
  height: 25rem; /* Устанавливает высоту для основного изображения */
  margin-top: 5rem; /* Добавляет отступ сверху, чтобы избежать перекрытия заголовком */
  z-index: 0; /* Устанавливает порядок наложения изображения ниже заголовка */
  overflow: hidden; /* Скрывает переполнение изображения, если оно выходит за границы контейнера */
}

.main-image img {
  width: 100%; /* Задает ширину изображения на 100% родительского контейнера */
  height: 100%; /* Задает высоту изображения на 100% родительского контейнера */
  object-fit: cover; /* Заполняет изображение, сохраняя его пропорции и обрезая излишки */
}

.icon {
  width: 50px; /* Устанавливает ширину иконок */
  height: 50px; /* Устанавливает высоту иконок */
  cursor: pointer;
}
