.footer {
  background-color: rgba(48, 49, 49, 0.8);
  color: white;
  padding-top: 40px;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  padding: 1em;
}

h2 {
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: rgb(0, 0, 0);
}

.bottom {
  text-align: center;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Медиа-запрос для адаптации к экранам меньше 350px */
@media (max-width: 350px) {
  .container {
    flex-direction: column; /* Вертикальное расположение столбцов */
    padding: 0 10px; /* Уменьшаем отступы по бокам */
  }

  .column {
    padding: 1em 0; /* Увеличиваем вертикальные отступы для лучшего восприятия */
    flex: none; /* Убираем равномерное распределение */
    width: 100%; /* Ширина столбцов на 100% */
  }

  h2 {
    font-size: 1.2rem; /* Уменьшаем размер заголовка */
  }

  li {
    margin: 5px 0; /* Уменьшаем отступы для элементов списка */
  }

  .bottom {
    padding: 10px 0; /* Уменьшаем отступы снизу и сверху */
  }
}
