.input {
  display: flex; /* Использует Flexbox для выравнивания элементов внутри контейнера */
  align-items: center; /* Центрирует элементы по вертикали */
  margin-bottom: 1rem; /* Добавляет отступ снизу для разделения элементов */
}

.input label {
  font-weight: bold; /* Делает текст метки жирным */
  margin-right: 1rem; /* Добавляет отступ справа от метки */
}

.input input {
  width: 4rem; /* Устанавливает фиксированную ширину для поля ввода */
  border-radius: 5px; /* Закругляет углы поля ввода */
  border: 1px solid #ccc; /* Добавляет серую границу */
  font: inherit; /* Наследует шрифт родителя */
  padding-left: 1rem; /* Добавляет отступ слева внутри поля ввода */
}
